In [1]:
import pandas as pd
import geopandas as gpd
# from tabula import read_pdf

/home/feromes/miniconda3/envs/geo/lib/python3.8/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
# df_informacoes = read_pdf('data/censo_2010/BASE DE INFORMAåES POR SETOR CENSITµRIO Censo 2010 - Universo.pdf', stream=True, pages=46, lattice=True)

In [3]:
# df_informacoes[0]

In [4]:
## Malha de setores do BR
# https://www.ibge.gov.br/geociencias/downloads-geociencias.html?caminho=organizacao_do_territorio/malhas_territoriais/malhas_de_setores_censitarios__divisoes_intramunicipais/2021/Malha_de_setores_(shp)_Brasil

In [5]:
## Download das tabelas e documentacao
# https://www.ibge.gov.br/estatisticas/sociais/populacao/9662-censo-demografico-2010.html?edicao=10410

# Selecao das variáveis

## Habitação einfraestrutura

* Porcentagem de domicílios do tipo cômodo .
* Porcentagem de domicílios sem coleta de lixo . 
* Porcentagem de domicílios sem ligação à rede de abastecimento de água .
* Porcentagem de domicílios sem banheiros ou sanitários . 
* Porcentagem de domicílios sem ligação à rede de esgoto ou fossa séptica . 
* Porcentagem de domicílios – outra forma de posse da moradia .
* Número de banheiros por habitante .

## Renda e escolaridade do responsável pelo domicílio

* Porcentagem de responsáveis por domicílio não alfabetizados . 
* Porcentagem de responsáveis por domicílio com menos de 30 anos não alfabetizados . 
* Porcentagem de responsáveis por domicílio com renda de até 3 salários mínimos . 
* Porcentagem de responsáveis por domicílio com menos de 8 anos de estudo . 
* Anos médios de estudo do responsável pelo domicílio . 
* Renda média do responsável pelo domicílio . 

## Aspectos demográficos

* Número de domicílios particulares permanentes no setor censitário . 
* Número de domicílios improvisados no setor censitário . 
* Número de pessoas residentes no setor censitário . 
* Porcentagem de responsáveis por domicílios com menos de 30 anos .
* Número médio de pessoas por domicílio .

In [6]:
# gdf_br = gpd.read_file('data/censo_2010/BR_Setores_2021.zip')

In [7]:
# gdf_br.shape

In [8]:
# gdf_br.NM_SIT.value_counts()

In [9]:
# gdf_br.columns

In [10]:
UFS = [
    'AC',
    'AL',
    'AM',
    'AP',
    'BA',
    'CE',
    'DF',
    'ES',
    'GO',
    'MA',
    'MG',
    'MS',
    'MT',
    'PA',
    'PB',
    'PE',
    'PI',
    'PR',
    'RJ',
    'RN',
    'RO',
    'RR',
    'RS',
    'SC',
    'SE',
    'SP1',
    'SP2',
    'TO'
]

In [23]:
## Hash para montar a base de dados
# {'file1': ['var1', 'var2', ..., 'var n'], ...,'file n': ['var1', 'var2', ..., 'var n']}

model_vars = {
    'Basico': {
        # 'Cod_setor': 'cod_setor',
        # 'Cod_Grandes Regiões': 'cod_grande_regiao',
        # 'Nome_Grande_Regiao': 'Nome GRande Região',
        'Cod_UF': 'Cod_UF',
        'Nome_da_UF': 'nome_UF'
        'Cod_meso': 'Cod_meso',
        'Cod_RM': 'Cod_RM',
        'Nome_da_RM': 'Nome_da_RM',
        # 'Cod_Grandes Regiões': ''
        'Cod_municipio': 'Cod_municipio',
        'Nome_do_municipio': 'Nome_do_municipio',
        'Situacao': 'Situacao',
        'Tipo_do_setor': 'Tipo_do_setor',
        'Var01': 'numero_de_domicilios',
        'Var12': 'numero_moradores',
        'Var03': 'rendimento_mensal_responsavel',
    },
    'Domicilio': {
        'V0008': 'domicilios_tipo_comodo',
        'V0048': 'domicilios_com_lixo_coletado',
        'V0123': 'domicilios_com_abastecimento_de_agua',
        'V0134': 'domicilios_com_banheiro',
        'V0030': 'domicilios_com_rede_de_esgoto',
        'V0031': 'domicilios_com_fossa',
        'V0118': 'domicilios_cedidos_de_outra_forma',
        'V0038': 'domicilios_particulares_permanentes_com_1_banheiro',
        'V0039': 'domicilios_particulares_permanentes_com_2_banheiros',
        'V0040': 'domicilios_particulares_permanentes_com_3_banheiros',
        'V0041': 'domicilios_particulares_permanentes_com_4_banheiros',
        'V0042': 'domicilios_particulares_permanentes_com_5_banheiros',
        'V0043': 'domicilios_particulares_permanentes_com_6_banheiros',
        'V0044': 'domicilios_particulares_permanentes_com_7_banheiros',
        'V0045': 'domicilios_particulares_permanentes_com_8_banheiros',
        'V0046': 'domicilios_particulares_permanentes_com_mais_de_9_banheiros',
        'V0004': 'domicilios_particulares_improvisados',
    },
    'Responsavel1': {
        'V0509': 'pessoas_responsaveis_nao_alfabetizadas',
        'V0510': 'pessoas_responsaveis_nao_alfabetizadas_de_10_a_14_anos',
        'V0511': 'pessoas_responsaveis_nao_alfabetizadas_de_15_a_19_anos',
        'V0512': 'pessoas_responsaveis_nao_alfabetizadas_de_20_a_24_anos',
        'V0513': 'pessoas_responsaveis_nao_alfabetizadas_de_25_a_29_anos',
        'V0602': 'responsaveis_com_renda_ate_meio_salario_minimo',
        'V0603': 'responsaveis_com_renda_de_meio_a_1_salario_minimo',
        'V0604': 'responsaveis_com_renda_de_1_a_2_salarios_minimos',
        'V0605': 'responsaveis_com_renda_de_2_a_3_salarios_minimos',
        'V0581': 'responsaveis_com_menos_1_ano_de_estudo',
        'V0582': 'responsaveis_com_menos_2_ano_de_estudo',
        'V0583': 'responsaveis_com_menos_3_ano_de_estudo',
        'V0584': 'responsaveis_com_menos_4_ano_de_estudo',
        'V0585': 'responsaveis_com_menos_5_ano_de_estudo',
        'V0586': 'responsaveis_com_menos_6_ano_de_estudo',
        'V0587': 'responsaveis_com_menos_7_ano_de_estudo',
        'V0402': 'pessoas_responsaveis',
        'V0403': 'pessoas_responsaveis_com_10_anos',
        'V0404': 'pessoas_responsaveis_com_11_anos',
        'V0405': 'pessoas_responsaveis_com_12_anos',
        'V0406': 'pessoas_responsaveis_com_13_anos',
        'V0407': 'pessoas_responsaveis_com_14_anos',
        'V0408': 'pessoas_responsaveis_com_15_anos',
        'V0409': 'pessoas_responsaveis_com_16_anos',
        'V0410': 'pessoas_responsaveis_com_17_anos',
        'V0411': 'pessoas_responsaveis_com_18_anos',
        'V0412': 'pessoas_responsaveis_com_19_anos',
        'V0413': 'pessoas_responsaveis_com_20_anos',
        'V0414': 'pessoas_responsaveis_com_21_anos',
        'V0415': 'pessoas_responsaveis_com_22_anos',
        'V0416': 'pessoas_responsaveis_com_23_anos',
        'V0417': 'pessoas_responsaveis_com_24_anos',
        'V0418': 'pessoas_responsaveis_com_25_anos',
        'V0419': 'pessoas_responsaveis_com_26_anos',
        'V0420': 'pessoas_responsaveis_com_27_anos',
        'V0421': 'pessoas_responsaveis_com_28_anos',
        'V0422': 'pessoas_responsaveis_com_29_anos',
    },
    "Responsavel4": {
        'V1115': 'responsaveis_totais_anos_de_estudo',

    }
}

In [24]:
dfs = []
for uf in UFS:
    print(f'Processando {uf}')
    dfs_uf = []
    for file in model_vars:
        file_path = f'data/censo_2000/csvs/{file}_{uf}.XLS'
        fields = list(model_vars[file].keys())
        fields.append('Cod_setor')
        try:
            df = pd.read_excel(file_path, usecols=fields, dtype="string").set_index('Cod_setor')
        except:
            try:
                df = pd.read_excel(file_path, usecols=fields, dtype="string").set_index('Cod_setor')
            except:
                df = pd.read_excel(file_path, usecols=fields, dtype="string").set_index('Cod_setor')
        df.rename(columns=model_vars[file], inplace=True)
        dfs_uf.append(df)
        # break
    df = pd.concat(dfs_uf, axis=1)
    df.loc[:, 'nome_UF'] = uf
    dfs.append(df)

Processando AC
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando AL
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando AM
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando AP
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando BA
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando CE
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando DF
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando ES
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando GO
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando MA
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando MG
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando MS
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando MT
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando PA
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando PB
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando PE
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando PI
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando PR
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando RJ
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando RN
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando RO
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando RR
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando RS
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando SC
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando SE
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando SP1
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando SP2
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Processando TO
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [25]:
df = pd.concat(dfs)

In [26]:
df

,Cod_UF,Cod_meso,Cod_RM,Nome_da_RM,Cod_municipio,Nome_do_municipio,Situacao,Tipo_do_setor,numero_de_domicilios,rendimento_mensal_responsavel,...,responsaveis_com_menos_4_ano_de_estudo,responsaveis_com_menos_5_ano_de_estudo,responsaveis_com_menos_6_ano_de_estudo,responsaveis_com_menos_7_ano_de_estudo,responsaveis_com_renda_ate_meio_salario_minimo,responsaveis_com_renda_de_meio_a_1_salario_minimo,responsaveis_com_renda_de_1_a_2_salarios_minimos,responsaveis_com_renda_de_2_a_3_salarios_minimos,responsaveis_totais_anos_de_estudo,nome_UF
Cod_setor,,,,,,,,,,,,,,,,,,,,,
120001305000001,12,1202,00,Não pertence,1200013,Acrelândia,1,0,251,597.1195219123506,...,42,16,7,7,0,53,57,28,1092,AC
120001305000002,12,1202,00,Não pertence,1200013,Acrelândia,1,0,311,286.7427652733119,...,46,27,7,11,6,89,79,25,1023,AC
120001305000003,12,1202,00,Não pertence,1200013,Acrelândia,1,0,302,418.42384105960264,...,47,22,4,5,7,87,79,23,1024,AC
120001305000004,12,1202,00,Não pertence,1200013,Acrelândia,5,0,49,383.1224489795918,...,8,4,1,3,1,10,24,2,168,AC
120001305000005,12,1202,00,Não pertence,1200013,Acrelândia,8,0,98,540.7755102040816,...,15,4,6,1,2,21,31,6,213,AC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172210705000011,17,1701,00,Não pertence,1722107,Xambioá,5,0,28,185.17857142857142,...,2,1,1,0,1,13,10,0,36,TO
172210705000012,17,1701,00,Não pertence,1722107,Xambioá,8,0,119,226.32773109243695,...,11,6,1,5,9,50,29,14,<NA>,TO
172210705000013,17,1701,00,Não pertence,1722107,Xambioá,8,0,155,284.4322580645161,...,20,10,4,4,9,52,57,15,338,TO
172210705000014,17,1701,00,Não pertence,1722107,Xambioá,5,0,4,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,TO
172210705000015,17,1701,00,Não pertence,1722107,Xambioá,5,0,9,209.1111111111111,...,1,0,0,1,0,3,2,0,<NA>,TO

In [29]:
# Adicionar MacroRegioes
grandes_regioes = pd.read_csv('data/grandes_regioes.csv')

In [39]:
df = df.merge(grandes_regioes, on='nome_UF', how='left')

In [46]:
df.head(10).style

In [44]:
df.dtypes

Cod_UF                                               string
Cod_meso                                             string
Cod_RM                                               string
Nome_da_RM                                           string
Cod_municipio                                        string
                                                     ...
responsaveis_com_renda_de_1_a_2_salarios_minimos     string
responsaveis_com_renda_de_2_a_3_salarios_minimos     string
responsaveis_totais_anos_de_estudo                   string
nome_UF                                              object
cod_grande_regiao                                   float64
Length: 68, dtype: object

In [16]:
CAMPOS_MODELO = [
    'cod_grande_regiao',
    'uf',
    'nome_UF',
    'rm',
    'nome_rm',
    'meso_regiao',
    'cod_municipio',
    'nome_municipio',
    'situacao_setor',
    'tipo_do_setor',
    'numero_de_domicilios',
    'numero_moradores',
    'area_do_setor',
    'porcentagem_domicilios_sem_coleta_de_lixo',
    'porcentagem_domicilios_sem_ligacao_rede_de_agua',
    'porcentagem_domicilios_sem_banheiros',
    'porcentagem_domicilios_sem_esgoto_ou_fossa',
    # # 'porcentagem_domicilios_tipo_comodo',
    'porcentagem_domicilios_cedidos_outra_forma',
    'porcentagem_domicilios_em_outra_condicao_de_ocupacao',
    'numero_de_banheiros_por_habitante',
    'porcentagem_responsaveis_nao_alfabetizado',
    'porcentagem_responsaveis_nao_alfabetizado_com_menos_de_30_anos',
    'porcentagem_responsaveis_renda_ate_3_salarios',
    # # 'porcentagem_responsaveis_menos_8_anos_de_estudo',
    # # 'anos_medios_estudo_responsavel',
    'renda_media_responsavel',
    'numero_de_domicilios_particulares_permanentes',
    'numero_de_domicilios_improvisados',
    'numero_de_pessoas_residentes',
    'porcentagem_de_responsaveis_com_menos_30_anos',
    'numero_medio_pessoas', 
    'densidade_populacional',
    'densidade_domicilios'
]

In [17]:
df.loc[:, 'porcentagem_domicilios_sem_coleta_de_lixo'] = pd.to_numeric(df.loc[:, 'domicilios_com_lixo_coletado'], errors='coerce') / pd.to_numeric(df.loc[:, 'domicilios_particulares_permanentes'], errors='coerce')

In [18]:
df.loc[:, 'porcentagem_domicilios_sem_ligacao_rede_de_agua'] = (pd.to_numeric(df.loc[:, 'domicilios_particulares_permanentes'], errors='coerce') - pd.to_numeric(df.loc[:, 'domicilios_tipo_casa_com_abastecimento_de_agua'], errors='coerce')) / pd.to_numeric(df.loc[:, 'domicilios_particulares_permanentes'], errors='coerce')

In [19]:
df.loc[:, 'porcentagem_domicilios_sem_banheiros'] = pd.to_numeric(df.loc[:, 'domicilios_particulares_permanentes_sem_banheiro_ou_sanitario'], errors='coerce') / pd.to_numeric(df.loc[:, 'domicilios_particulares_permanentes'], errors='coerce')

In [20]:
# 'porcentagem_domicilios_sem_esgoto_ou_fossa'
df.loc[:, 'porcentagem_domicilios_sem_esgoto_ou_fossa'] = (pd.to_numeric(df.loc[:, 'domicilios_particulares_permanentes'], errors='coerce') - pd.to_numeric(df.loc[:, 'domicilios_particulares_permanentes_com_banheiro_ligado_a_esgoto'], errors='coerce') - pd.to_numeric(df.loc[:, 'domicilios_particulares_permanentes_com_banheiro_ligado_a_fossa_septica'], errors='coerce')) / pd.to_numeric(df.loc[:, 'domicilios_particulares_permanentes'], errors='coerce')

In [21]:
# porcentagem_domicilios_cedidos_outra_forma
df.loc[:, 'porcentagem_domicilios_cedidos_outra_forma'] = pd.to_numeric(df.loc[:, 'domicilios_particulares_permanentes_cedidos_de_outra_forma'], errors='coerce') / pd.to_numeric(df.loc[:, 'domicilios_particulares_permanentes'], errors='coerce')

In [22]:
# porcentagem_domicilios_em_outra_condicao_de_ocupacao
df.loc[:, 'porcentagem_domicilios_em_outra_condicao_de_ocupacao'] = pd.to_numeric(df.loc[:, 'domicilios_particulares_permanentes_em_outra_condicao_de_ocupacao'], errors='coerce') / pd.to_numeric(df.loc[:, 'domicilios_particulares_permanentes'], errors='coerce')

In [23]:
banheiros = [
    'domicilios_particulares_permanentes_com_1_banheiro',
    'domicilios_particulares_permanentes_com_2_banheiros',
    'domicilios_particulares_permanentes_com_3_banheiros',
    'domicilios_particulares_permanentes_com_4_banheiros',
    'domicilios_particulares_permanentes_com_5_banheiros',
    'domicilios_particulares_permanentes_com_6_banheiros',
    'domicilios_particulares_permanentes_com_7_banheiros',
    'domicilios_particulares_permanentes_com_8_banheiros',
    'domicilios_particulares_permanentes_com_mais_de_9_banheiros'
]

df.loc[:, 'banheiros'] = 0

for k,v in list(zip(range(9), banheiros)):
    df.loc[:, 'banheiros'] += pd.to_numeric(df.loc[:, v], errors='coerce') * (k+1)

In [24]:
# numero_de_banheiros_por_habitante
df.loc[:, 'numero_de_banheiros_por_habitante'] = df.banheiros / pd.to_numeric(df.numero_moradores, errors='coerce')

In [25]:
# porcentagem_responsaveis_nao_alfabetizado
responsaveis_nao_alfabetizados = (pd.to_numeric(df.loc[:, 'pessoas_responsaveis'], errors='coerce') - pd.to_numeric(df.loc[:, 'pessoas_responsaveis_alfabetizadas'], errors='coerce'))
df.loc[:, 'porcentagem_responsaveis_nao_alfabetizado'] =  responsaveis_nao_alfabetizados / pd.to_numeric(df.loc[:, 'pessoas_responsaveis'], errors='coerce')

In [26]:
# porcentagem_de_responsaveis_com_menos_30_anos
        
responsaveis_menos_30 = [
        'pessoas_responsaveis_com_10_anos',
        'pessoas_responsaveis_com_11_anos',
        'pessoas_responsaveis_com_12_anos',
        'pessoas_responsaveis_com_13_anos',
        'pessoas_responsaveis_com_14_anos',
        'pessoas_responsaveis_com_15_anos',
        'pessoas_responsaveis_com_16_anos',
        'pessoas_responsaveis_com_17_anos',
        'pessoas_responsaveis_com_18_anos',
        'pessoas_responsaveis_com_19_anos',
        'pessoas_responsaveis_com_20_anos',
        'pessoas_responsaveis_com_21_anos',
        'pessoas_responsaveis_com_22_anos',
        'pessoas_responsaveis_com_23_anos',
        'pessoas_responsaveis_com_24_anos',
        'pessoas_responsaveis_com_25_anos',
        'pessoas_responsaveis_com_26_anos',
        'pessoas_responsaveis_com_27_anos',
        'pessoas_responsaveis_com_28_anos',
        'pessoas_responsaveis_com_29_anos',
]

df.loc[:, 'responsaveis_menos_30'] = 0

for v in responsaveis_menos_30:
    df.loc[:, 'responsaveis_menos_30'] += pd.to_numeric(df.loc[:, v], errors='coerce')

df.loc[:, 'porcentagem_de_responsaveis_com_menos_30_anos'] = df.responsaveis_menos_30 / pd.to_numeric(df.loc[:, 'pessoas_responsaveis'], errors='coerce')

In [27]:
# porcentagem_responsaveis_nao_alfabetizado_com_menos_de_30_anos
alfabetizados_menos_30 = [
    'pessoas_responsaveis_alfabetizadas_de_10_a_14_anos',
    'pessoas_responsaveis_alfabetizadas_de_15_a_19_anos',
    'pessoas_responsaveis_alfabetizadas_de_20_a_24_anos',
    'pessoas_responsaveis_alfabetizadas_de_25_a_29_anos'
]

df.loc[:, 'alfabetizados_menos_30'] = 0

for v in alfabetizados_menos_30:
    df.loc[:, 'alfabetizados_menos_30'] += pd.to_numeric(df.loc[:, v], errors='coerce')

df.loc[:, 'porcentagem_responsaveis_nao_alfabetizado_com_menos_de_30_anos'] = (df.loc[:, 'responsaveis_menos_30'] - df.loc[:, 'alfabetizados_menos_30']) / df.loc[:, 'responsaveis_menos_30']

In [28]:
# porcentagem_responsaveis_renda_ate_3_salarios
responsaveis_renda_ate_3_salarios = [
        'responsaveis_com_renda_ate_meio_salario_minimo',
        'responsaveis_com_renda_de_meio_a_1_salario_minimo',
        'responsaveis_com_renda_de_1_a_2_salarios_minimos',
        'responsaveis_com_renda_de_2_a_3_salarios_minimos'
]

df.loc[:, 'responsaveis_renda_ate_3_salarios'] = 0

for v in responsaveis_renda_ate_3_salarios:
    df.loc[:, 'responsaveis_renda_ate_3_salarios'] += pd.to_numeric(df.loc[:, v], errors='coerce')

df.loc[:, 'porcentagem_responsaveis_renda_ate_3_salarios'] = (df.loc[:, 'responsaveis_renda_ate_3_salarios']) / pd.to_numeric(df.loc[:, 'pessoas_responsaveis'], errors='coerce')

In [29]:
# renda_media_responsavel
df.loc[:, ['total_rendimento_dos_domicilios', 'numero_de_domicilios']]
renda_por_domicilio = pd.to_numeric(df.loc[:, 'total_rendimento_dos_domicilios'], errors='coerce') / pd.to_numeric(df.loc[:, 'numero_de_domicilios'], errors='coerce')
df.loc[:, 'renda_media_responsavel'] = pd.to_numeric(df.loc[:, 'total_rendimento_dos_domicilios'], errors='coerce') / pd.to_numeric(df.loc[:, 'pessoas_responsaveis'], errors='coerce')

In [30]:
# numero_de_domicilios_particulares_permanentes
# domicilios_particulares_permanentes
df.loc[:, 'numero_de_domicilios_particulares_permanentes'] = pd.to_numeric(df.loc[:, 'domicilios_particulares_permanentes'], errors='coerce')

In [31]:
# numero_de_domicilios_improvisados
# total_domicilios_improvisados
df.loc[:, 'numero_de_domicilios_improvisados'] = pd.to_numeric(df.loc[:, 'total_domicilios_improvisados'], errors='coerce')

In [32]:
# numero_de_pessoas_residentes
# numero_moradores
df.loc[:, 'numero_de_pessoas_residentes'] = pd.to_numeric(df.loc[:, 'numero_moradores'], errors='coerce')

In [33]:
# numero_medio_pessoas'
df.loc[:, 'numero_medio_pessoas'] = pd.to_numeric(df.loc[:, 'numero_moradores'], errors='coerce') / pd.to_numeric(df.loc[:, 'numero_de_domicilios'], errors='coerce')

In [34]:
df.loc[:, 'densidade_populacional'] = pd.to_numeric(df.loc[:, 'numero_moradores'], errors='coerce') / df.loc[:, 'area_do_setor']

In [35]:
df.loc[:, 'densidade_domicilios'] = pd.to_numeric(df.loc[:, 'numero_de_domicilios'], errors='coerce') / df.loc[:, 'area_do_setor']

In [36]:
df

,cod_grande_regiao,uf,meso_regiao,rm,nome_rm,cod_municipio,nome_municipio,situacao_setor,tipo_do_setor,numero_de_domicilios,...,porcentagem_responsaveis_nao_alfabetizado_com_menos_de_30_anos,responsaveis_renda_ate_3_salarios,porcentagem_responsaveis_renda_ate_3_salarios,renda_media_responsavel,numero_de_domicilios_particulares_permanentes,numero_de_domicilios_improvisados,numero_de_pessoas_residentes,numero_medio_pessoas,densidade_populacional,densidade_domicilios
Cod_setor,,,,,,,,,,,,,,,,,,,,,
120001305000001,1,12,1202,00,Municípios não pertencentes a estrutura de RM,1200013,ACRELÂNDIA,1,0,282,...,0.022222,194.0,0.687943,2134.060284,282,0.0,957.0,3.393617,957.0,282.0
120001305000002,1,12,1202,00,Municípios não pertencentes a estrutura de RM,1200013,ACRELÂNDIA,1,0,342,...,0.011905,290.0,0.843023,1120.444767,342,2.0,1203.0,3.517544,1203.0,342.0
120001305000003,1,12,1202,00,Municípios não pertencentes a estrutura de RM,1200013,ACRELÂNDIA,1,0,482,...,0.021127,361.0,0.747412,1101.879917,482,1.0,1700.0,3.526971,1700.0,482.0
120001305000004,1,12,1202,00,Municípios não pertencentes a estrutura de RM,1200013,ACRELÂNDIA,5,0,53,...,0.083333,46.0,0.867925,1110.433962,53,0.0,182.0,3.433962,182.0,53.0
120001305000005,1,12,1202,00,Municípios não pertencentes a estrutura de RM,1200013,ACRELÂNDIA,8,0,96,...,0.157895,82.0,0.854167,1176.864583,96,0.0,305.0,3.177083,305.0,96.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170210905000098,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,0.000000,310.0,0.863510,1348.646240,359,0.0,NaN,NaN,NaN,NaN
170210905000099,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,0.000000,277.0,0.780282,963.225352,354,1.0,NaN,NaN,NaN,NaN
170210905000100,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,0.012821,290.0,0.857988,1307.174556,338,0.0,NaN,NaN,NaN,NaN
170210905000101,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,0.010417,190.0,0.716981,968.094340,265,0.0,NaN,NaN,NaN,NaN
170210905000102,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,0.017857,205.0,0.895197,1122.873362,227,2.0,NaN,NaN,NaN,NaN

In [37]:
df.loc[:, CAMPOS_MODELO].to_csv('resultados/modelo.csv.zip', compression='zip')

In [3]:
df_ = pd.read_csv('resultados/modelo.csv.zip', compression='zip')

/tmp/ipykernel_120522/3604218728.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ = pd.read_csv('resultados/modelo.csv.zip', compression='zip')

In [4]:
df_.columns

Index(['Cod_setor', 'cod_grande_regiao', 'uf', 'nome_UF', 'rm', 'nome_rm',
       'meso_regiao', 'cod_municipio', 'nome_municipio', 'situacao_setor',
       'tipo_do_setor', 'numero_de_domicilios', 'numero_moradores',
       'area_do_setor', 'porcentagem_domicilios_sem_coleta_de_lixo',
       'porcentagem_domicilios_sem_ligacao_rede_de_agua',
       'porcentagem_domicilios_sem_banheiros',
       'porcentagem_domicilios_sem_esgoto_ou_fossa',
       'porcentagem_domicilios_cedidos_outra_forma',
       'porcentagem_domicilios_em_outra_condicao_de_ocupacao',
       'numero_de_banheiros_por_habitante',
       'porcentagem_responsaveis_nao_alfabetizado',
       'porcentagem_responsaveis_nao_alfabetizado_com_menos_de_30_anos',
       'porcentagem_responsaveis_renda_ate_3_salarios',
       'renda_media_responsavel',
       'numero_de_domicilios_particulares_permanentes',
       'numero_de_domicilios_improvisados', 'numero_de_pessoas_residentes',
       'porcentagem_de_responsaveis_com_menos_30_anos', 'numero_medio_pessoas',
       'densidade_populacional', 'densidade_domicilios'],
      dtype='object')