In [1]:
import geopandas as gpd

/home/feromes/miniconda3/envs/geo/lib/python3.8/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
gdf_br = gpd.read_file('resultados/assentamentos_precarios_BR.gpkg')

In [8]:
gdf_br_rms = gdf_br[gdf_br.rm != 0.]

In [11]:
gdf_br_rms.loc[:, ['uf', 'nome_UF', 'rm', 'nome_rm']].dissolve(by='rm')

          uf nome_UF    rm     nome_rm
45      None    None   NaN        None
51      None    None   NaN        None
52      None    None   NaN        None
63      None    None   NaN        None
354     None    None   NaN        None
...      ...     ...   ...         ...
316205    28      SE  14.0  RM Aracaju
316206    28      SE  14.0  RM Aracaju
316207    28      SE  14.0  RM Aracaju
316208    28      SE  14.0  RM Aracaju
316540  None    None   NaN        None

[140910 rows x 4 columns]