In [1]:
import geopandas as gpd

/home/feromes/miniconda3/envs/geo/lib/python3.8/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
gdf_br = gpd.read_file('resultados/assentamentos_precarios_BR.gpkg')

In [7]:
gdf_br.shape[0]

316574

In [4]:
gdf_br.legenda.value_counts()

Setores Comuns    188791
Rurais             73815
Precários          31496
Subnormais         15815
Sem Informação      6657
Name: legenda, dtype: int64

In [9]:
31496 /(15815 + 31496)

0.6657225592356957

In [13]:
gdf_br.numero_moradores.sum()

189775149.0

In [16]:
gdf_br.columns

Index(['Cod_setor', 'ID', 'CD_GEOCODI', 'TIPO', 'CD_GEOCODB', 'NM_BAIRRO',
       'CD_GEOCODS', 'NM_SUBDIST', 'CD_GEOCODD', 'NM_DISTRIT', 'CD_GEOCODM',
       'NM_MUNICIP', 'NM_MICRO', 'NM_MESO', 'area_do_setor_df', 'ID1',
       'Unnamed: 0', 'cod_grande_regiao', 'uf', 'nome_UF', 'rm', 'nome_rm',
       'meso_regiao', 'cod_municipio', 'nome_municipio', 'situacao_setor',
       'tipo_do_setor', 'numero_de_domicilios', 'numero_moradores',
       'area_do_setor', 'porcentagem_domicilios_sem_coleta_de_lixo',
       'porcentagem_domicilios_sem_ligacao_rede_de_agua',
       'porcentagem_domicilios_sem_banheiros',
       'porcentagem_domicilios_sem_esgoto_ou_fossa',
       'porcentagem_domicilios_cedidos_outra_forma',
       'porcentagem_domicilios_em_outra_condicao_de_ocupacao',
       'numero_de_banheiros_por_habitante',
       'porcentagem_responsaveis_nao_alfabetizado',
       'porcentagem_responsaveis_nao_alfabetizado_com_menos_de_30_anos',
       'porcentagem_responsaveis_renda_ate_3_salarios',
       'renda_media_responsavel',
       'numero_de_domicilios_particulares_permanentes',
       'numero_de_domicilios_improvisados', 'numero_de_pessoas_residentes',
       'porcentagem_de_responsaveis_com_menos_30_anos', 'numero_medio_pessoas',
       'densidade_populacional', 'densidade_domicilios', 'subnormal',
       'processado', 'subnormal_LDA', 'subnormal_RandomForest', 'legenda',
       'geometry'],
      dtype='object')

In [17]:
gdf_br.loc[:, ['ID', 'legenda', 'numero_de_domicilios', 'numero_moradores']].groupby('legenda').agg({
    'ID': 'count',
    'numero_de_domicilios': 'sum',
    'numero_moradores': 'sum'
})

                    ID  numero_de_domicilios  numero_moradores
legenda
Precários        31496             6087039.0        22043100.0
Rurais           73815             7880901.0        28659092.0
Sem Informação    6657              553534.0         1716877.0
Setores Comuns  188791            39577972.0       125942087.0
Subnormais       15815             3220486.0        11413993.0

In [14]:
# gdf_br[gdf_br.rm != 0.]
gdf_br.loc[gdf_br.rm != 0., ['legenda', 'numero_de_domicilios', 'numero_moradores']].groupby('legenda').sum()

                numero_de_domicilios  numero_moradores
legenda
Precários                  2492324.0         8797083.0
Rurais                     1045318.0         3675153.0
Sem Informação              553534.0         1716877.0
Setores Comuns            20507209.0        64741964.0
Subnormais                 2933809.0        10369761.0

In [15]:
22043100.0 - 8797083.0

13246017.0

In [20]:
gdf_br.loc[:, ['rm', 'nome_rm']].groupby('rm').first()

                                                nome_rm
rm
0.0       Municípios não pertencentes a estrutura de RM
1.0                                          RM Manaus
2.0                                            RM Belém
3.0                                           RM Macapá
4.0                                 RM Grande São Luís
5.0                             RM Sudoeste Maranhense
6.0                                          RM Cariri
7.0                                       RM Fortaleza
8.0                                            RM Natal
9.0                                   RM Campina Grande
10.0                                     RM João Pessoa
11.0                                          RM Recife
12.0                                         RM Agreste
13.0                                          RM Maceió
14.0                                         RM Aracaju
15.0                                       RM Salvador
16.0                                 RM Belo Horizonte
17.0                                     RM Vale do Aço
18.0                                  RM Grande Vitória
19.0                                 RM Rio de Janeiro
20.0                                       RM São Paulo
21.0                                RM Baixada Santista
22.0                                        RM Campinas
23.0                                        RM Curitiba
24.0                                        RM Londrina
25.0                                        RM Maringá
26.0                                   RM Florianópolis
27.0                                  RM Vale do Itajaí
28.0                      RM Norte/Nordeste Catarinense
29.0                               RM Foz do Rio Itajaí
30.0                                     RM Carbonífera
31.0                                         RM Tubarão
32.0                                           RM Lages
33.0                                         RM Chapecó
34.0                                    RM Porto Alegre
35.0                             RM Vale do Rio Cuiabá
36.0                                         RM Goiânia
40.0  RIDE - Região Integrada de Desenvolvimento do ...
41.0  RIDE TERESINA - Região Integrada de Desenvolvi...
42.0  RIDE Petrolina/Juazeiro Reg Adm Int Desen do P...

In [23]:
gdf_br.loc[gdf_br.rm == 16., ['ID', 'legenda', 'numero_de_domicilios', 'numero_moradores']].groupby('legenda').agg({
    'ID': 'count',
    'numero_de_domicilios': 'sum',
    'numero_moradores': 'sum'
})

                  ID  numero_de_domicilios  numero_moradores
legenda
Precários        394               63727.0          216466.0
Rurais           438               39448.0          127143.0
Setores Comuns  6880             1421209.0         4556621.0
Subnormais       811              139639.0          488948.0