In [1]:
import geopandas as gpd

/home/feromes/miniconda3/envs/geo/lib/python3.8/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
gdf_br = gpd.read_file('resultados/assentamentos_precarios_BR.gpkg')

In [3]:
gdf_br.shape[0]

316574

In [4]:
# gdf_br.tipo_do_setor.value_counts()
gdf_br = gdf_br[(gdf_br.tipo_do_setor == 0.) | (gdf_br.tipo_do_setor == 1.)]

In [5]:
gdf_br.legenda.value_counts()

Setores Comuns    214348
Rurais             69584
Subnormais         15815
Precários           3267
Sem Informação      2994
Name: legenda, dtype: int64

In [6]:
31496 /(15815 + 31496)

0.6657225592356957

In [7]:
gdf_br.numero_moradores.sum()

188856869.0

In [8]:
gdf_br.columns

Index(['Cod_setor', 'ID', 'CD_GEOCODI', 'TIPO', 'CD_GEOCODB', 'NM_BAIRRO',
       'CD_GEOCODS', 'NM_SUBDIST', 'CD_GEOCODD', 'NM_DISTRIT', 'CD_GEOCODM',
       'NM_MUNICIP', 'NM_MICRO', 'NM_MESO', 'area_do_setor_df', 'ID1',
       'Unnamed: 0', 'cod_grande_regiao', 'uf', 'nome_UF', 'rm', 'nome_rm',
       'meso_regiao', 'cod_municipio', 'nome_municipio', 'situacao_setor',
       'tipo_do_setor', 'numero_de_domicilios', 'numero_moradores',
       'area_do_setor', 'porcentagem_domicilios_sem_coleta_de_lixo',
       'porcentagem_domicilios_sem_ligacao_rede_de_agua',
       'porcentagem_domicilios_sem_banheiros',
       'porcentagem_domicilios_sem_esgoto_ou_fossa',
       'porcentagem_domicilios_cedidos_outra_forma',
       'porcentagem_domicilios_em_outra_condicao_de_ocupacao',
       'numero_de_banheiros_por_habitante',
       'porcentagem_responsaveis_nao_alfabetizado',
       'porcentagem_responsaveis_nao_alfabetizado_com_menos_de_30_anos',
       'porcentagem_responsaveis_renda_ate_3_salarios',
       'renda_media_responsavel',
       'numero_de_domicilios_particulares_permanentes',
       'numero_de_domicilios_improvisados', 'numero_de_pessoas_residentes',
       'porcentagem_de_responsaveis_com_menos_30_anos', 'numero_medio_pessoas',
       'densidade_populacional', 'densidade_domicilios', 'subnormal',
       'processado', 'subnormal_LDA', 'subnormal_RandomForest', 'legenda',
       'geometry'],
      dtype='object')

In [9]:
gdf_br.loc[:, ['ID', 'legenda', 'numero_de_domicilios', 'numero_moradores']].groupby('legenda').agg({
    'ID': 'count',
    'numero_de_domicilios': 'sum',
    'numero_moradores': 'sum'
})

                    ID  numero_de_domicilios  numero_moradores
legenda
Precários         3267              533661.0         1940467.0
Rurais           69584             7834046.0        28472445.0
Sem Informação    2994              553529.0         1716838.0
Setores Comuns  214348            44951753.0       145313126.0
Subnormais       15815             3220486.0        11413993.0

In [10]:
# gdf_br[gdf_br.rm != 0.]
gdf_br.loc[gdf_br.rm != 0., ['legenda', 'numero_de_domicilios', 'numero_moradores']].groupby('legenda').sum()

                numero_de_domicilios  numero_moradores
legenda
Precários                   495661.0         1793706.0
Rurais                     1021727.0         3584988.0
Sem Informação              553529.0         1716838.0
Setores Comuns            22502984.0        71743890.0
Subnormais                 2933809.0        10369761.0

In [11]:
22043100.0 - 8797083.0

13246017.0

In [12]:
gdf_br.loc[:, ['rm', 'nome_rm']].groupby('rm').first()

                                                nome_rm
rm
0.0       Municípios não pertencentes a estrutura de RM
1.0                                          RM Manaus
2.0                                            RM Belém
3.0                                           RM Macapá
4.0                                 RM Grande São Luís
5.0                             RM Sudoeste Maranhense
6.0                                          RM Cariri
7.0                                       RM Fortaleza
8.0                                            RM Natal
9.0                                   RM Campina Grande
10.0                                     RM João Pessoa
11.0                                          RM Recife
12.0                                         RM Agreste
13.0                                          RM Maceió
14.0                                         RM Aracaju
15.0                                       RM Salvador
16.0                                 RM Belo Horizonte
17.0                                     RM Vale do Aço
18.0                                  RM Grande Vitória
19.0                                 RM Rio de Janeiro
20.0                                       RM São Paulo
21.0                                RM Baixada Santista
22.0                                        RM Campinas
23.0                                        RM Curitiba
24.0                                        RM Londrina
25.0                                        RM Maringá
26.0                                   RM Florianópolis
27.0                                  RM Vale do Itajaí
28.0                      RM Norte/Nordeste Catarinense
29.0                               RM Foz do Rio Itajaí
30.0                                     RM Carbonífera
31.0                                         RM Tubarão
32.0                                           RM Lages
33.0                                         RM Chapecó
34.0                                    RM Porto Alegre
35.0                             RM Vale do Rio Cuiabá
36.0                                         RM Goiânia
40.0  RIDE - Região Integrada de Desenvolvimento do ...
41.0  RIDE TERESINA - Região Integrada de Desenvolvi...
42.0  RIDE Petrolina/Juazeiro Reg Adm Int Desen do P...

In [13]:
gdf_br.loc[gdf_br.rm == 22., ['ID', 'legenda', 'numero_de_domicilios', 'numero_moradores']].groupby('legenda').agg({
    'ID': 'count',
    'numero_de_domicilios': 'sum',
    'numero_moradores': 'sum'
})

                  ID  numero_de_domicilios  numero_moradores
legenda
Precários         73                8868.0           32521.0
Rurais           199               19813.0           66816.0
Setores Comuns  3559              799275.0         2522947.0
Subnormais       273               43434.0          160419.0

In [14]:
from simpledbf import Dbf5

PyTables is not installed. No support for HDF output.

In [15]:
dbf = Dbf5('data/emplasa/SC2010_RMS_CEM.dbf')

In [16]:
df_emplasa = dbf.to_dataframe()

In [17]:
# df_emplasa.columns.to_list()

In [18]:
precario_rf =(gdf_br.subnormal_RandomForest == 1)

In [19]:
subnormal = (gdf_br.tipo_do_setor == 1)

In [20]:
gdf_br.loc[precario_rf & ~subnormal].shape

(722, 54)

In [21]:
gdf_br.loc[gdf_br.rm.isin([20., 21., 22.]) & precario_rf & ~subnormal, ['rm', 'legenda', 'numero_de_domicilios', 'numero_moradores']].groupby('rm').agg({
    'rm': 'count',
    'numero_de_domicilios': 'sum',
    'numero_moradores': 'sum'
})

       rm  numero_de_domicilios  numero_moradores
rm
20.0  278               40234.0          148028.0
21.0   10                1678.0            6060.0
22.0    5                 530.0            2016.0

In [22]:
df_emplasa.loc[df_emplasa.AP == 2, ['COD_RM', 'AP', 'BA_001', 'BA_002']].groupby('COD_RM').agg({
    'COD_RM': 'count',
    # 'AP': 'sum',
    'BA_001': 'sum',
    'BA_002': 'sum'
})

        COD_RM  BA_001  BA_002
COD_RM
0          279   59210  203864
20        1087  183938  652318
21          63   11901   41753
22         285   66959  234273

In [23]:
gdf_br.loc[gdf_br.rm.isin([20., 21., 22.]) & (gdf_br.legenda == "Precários"), ['rm', 'legenda', 'numero_de_domicilios', 'numero_moradores']].groupby('rm').agg({
    'rm': 'count',
    'numero_de_domicilios': 'sum',
    'numero_moradores': 'sum'
})

       rm  numero_de_domicilios  numero_moradores
rm
20.0  699              102186.0          381820.0
21.0   78               15898.0           56467.0
22.0   73                8868.0           32521.0

In [24]:
df_emplasa.loc[:, ['COD_RM', 'AP', 'BA_001', 'BA_002']].groupby('COD_RM').agg({
    'COD_RM': 'count',
    'AP': 'sum',
    'BA_001': 'sum',
    'BA_002': 'sum'
})

        COD_RM      AP   BA_001    BA_002
COD_RM
0         5351   44144   899742   2944965
20       30815  141005  6089847  19601268
21        3106   13730   527820   1656438
22        4204   29733   871471   2782983

In [25]:
gdf_br.loc[gdf_br.rm.isin([20., 21., 22.]), ['rm', 'legenda', 'numero_de_domicilios', 'numero_moradores']].groupby('rm').agg({
    'rm': 'count',
    'numero_de_domicilios': 'sum',
    'numero_moradores': 'sum'
})

         rm  numero_de_domicilios  numero_moradores
rm
20.0  29870             6088329.0        19596340.0
21.0   2955              527586.0         1655539.0
22.0   4104              871390.0         2782703.0

In [26]:
gdf_br.columns

Index(['Cod_setor', 'ID', 'CD_GEOCODI', 'TIPO', 'CD_GEOCODB', 'NM_BAIRRO',
       'CD_GEOCODS', 'NM_SUBDIST', 'CD_GEOCODD', 'NM_DISTRIT', 'CD_GEOCODM',
       'NM_MUNICIP', 'NM_MICRO', 'NM_MESO', 'area_do_setor_df', 'ID1',
       'Unnamed: 0', 'cod_grande_regiao', 'uf', 'nome_UF', 'rm', 'nome_rm',
       'meso_regiao', 'cod_municipio', 'nome_municipio', 'situacao_setor',
       'tipo_do_setor', 'numero_de_domicilios', 'numero_moradores',
       'area_do_setor', 'porcentagem_domicilios_sem_coleta_de_lixo',
       'porcentagem_domicilios_sem_ligacao_rede_de_agua',
       'porcentagem_domicilios_sem_banheiros',
       'porcentagem_domicilios_sem_esgoto_ou_fossa',
       'porcentagem_domicilios_cedidos_outra_forma',
       'porcentagem_domicilios_em_outra_condicao_de_ocupacao',
       'numero_de_banheiros_por_habitante',
       'porcentagem_responsaveis_nao_alfabetizado',
       'porcentagem_responsaveis_nao_alfabetizado_com_menos_de_30_anos',
       'porcentagem_responsaveis_renda_ate_3_salarios',
       'renda_media_responsavel',
       'numero_de_domicilios_particulares_permanentes',
       'numero_de_domicilios_improvisados', 'numero_de_pessoas_residentes',
       'porcentagem_de_responsaveis_com_menos_30_anos', 'numero_medio_pessoas',
       'densidade_populacional', 'densidade_domicilios', 'subnormal',
       'processado', 'subnormal_LDA', 'subnormal_RandomForest', 'legenda',
       'geometry'],
      dtype='object')

In [27]:
gdf_br

,Cod_setor,ID,CD_GEOCODI,TIPO,CD_GEOCODB,NM_BAIRRO,CD_GEOCODS,NM_SUBDIST,CD_GEOCODD,NM_DISTRIT,...,porcentagem_de_responsaveis_com_menos_30_anos,numero_medio_pessoas,densidade_populacional,densidade_domicilios,subnormal,processado,subnormal_LDA,subnormal_RandomForest,legenda,geometry
0,110009812000003,17182.0,110009812000003,RURAL,None,None,11000981200,None,110009812,NOVO PARAÍSO,...,0.113208,3.490566,555.0,159.0,0.0,1,0.0,0.0,Rurais,"POLYGON ((4247367.130 8735338.452, 4247388.230..."
1,110009815000001,17183.0,110009815000001,URBANO,None,None,11000981500,None,110009815,FLOR DA SERRA,...,0.250000,3.312500,53.0,16.0,0.0,1,0.0,0.0,Setores Comuns,"POLYGON ((4263388.469 8730722.399, 4263484.078..."
2,110009815000002,17184.0,110009815000002,RURAL,None,None,11000981500,None,110009815,FLOR DA SERRA,...,0.151316,3.335526,507.0,152.0,0.0,1,0.0,0.0,Rurais,"POLYGON ((4265475.644 8735506.466, 4265510.344..."
3,110009815000003,17185.0,110009815000003,RURAL,None,None,11000981500,None,110009815,FLOR DA SERRA,...,0.210526,3.245614,555.0,171.0,0.0,1,0.0,0.0,Rurais,"POLYGON ((4244745.922 8742111.062, 4244993.522..."
4,110009815000004,17186.0,110009815000004,RURAL,None,None,11000981500,None,110009815,FLOR DA SERRA,...,0.113208,3.169811,336.0,106.0,0.0,1,0.0,0.0,Rurais,"POLYGON ((4269841.950 8732652.065, 4269859.650..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316569,280760005000030,59717.0,280760005000030,URBANO,None,None,28076000500,None,280760005,UMBAÚBA,...,0.211268,3.849765,820.0,213.0,0.0,1,0.0,0.0,Setores Comuns,"POLYGON ((6782278.055 8690474.777, 6782273.601..."
316570,280760005000031,59718.0,280760005000031,URBANO,None,None,28076000500,None,280760005,UMBAÚBA,...,0.151659,3.545024,748.0,211.0,0.0,1,0.0,0.0,Setores Comuns,"POLYGON ((6781484.945 8691502.846, 6781485.831..."
316571,280760005000032,59719.0,280760005000032,URBANO,None,None,28076000500,None,280760005,UMBAÚBA,...,0.218085,3.803191,715.0,188.0,0.0,1,0.0,0.0,Setores Comuns,"POLYGON ((6782229.282 8692045.779, 6782231.253..."
316572,280760005000033,59720.0,280760005000033,URBANO,None,None,28076000500,None,280760005,UMBAÚBA,...,0.180556,3.611111,520.0,144.0,0.0,1,0.0,0.0,Setores Comuns,"POLYGON ((6783041.106 8691159.359, 6783041.174..."
316573,280760005000028,59721.0,280760005000028,RURAL,None,None,28076000500,None,280760005,UMBAÚBA,...,0.119048,3.309524,417.0,126.0,0.0,1,0.0,0.0,Rurais,"MULTIPOLYGON (((6781228.321 8691642.253, 67812..."